{% extends 'base.html' %}

{% block title %}Astra Roulette{% endblock %}
{% block head %}

<link href="static/css/bootstrap-table.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
<link href="static/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="static/css/prism.css" rel="stylesheet">

<style>
    .msg {
        overflow: auto;
        white-space: nowrap;
        max-width: 350px;
    }
    .log_id {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 50px;
    }
    .msg_pre, code {
        max-width:70vw !important;
        white-space: pre-wrap !important;
    }
    .container {
        max-width: 1200px;
    }
</style>
{% endblock %}
{% block content %}
<h3>Astra Roulette</h3>

<p> Добро пожаловать в бюджетную русскую рулетку. Сценарий игры такой -- выбираете с вашим напарником револьвер с которым хотите играть и сколько патронов зарядить в барабан. </p>
<p> Если представленные револьверы не нравятся -- можно создать свой с помощью меню выше.
<p> После -- вписываете свои имена в поля ниже для таблицы рекордов и нажимаете "Начать!". Вперед!</p>

<div>

    <form id="new_game_form" method="get" action="/session">
        <div>
            <label for="revolver_name">Револьвер (введите название)</label>
            <input type="text" id="revolver_name" name="revolver_name" />
        </div>
        <div>
            <label for="bullets_count">Сколько патронов зарядить в барабан?</label>
            <input type="text" id="bullets_count" name="bullets_count" />
        </div>
        <div>
            <label for="name1">Имя 1 игрока</label>
            <input type="text" id="name1" name="name1" />
        </div>
        <div>
            <label for="name2">Имя 2 игрока</label>
            <input type="text" id="name2" name="name2" />
        </div>
        <button type="submit">Начать!</button>
    </form>

</div>

{% endblock %}