{% extends 'base.html' %}

{% block title %}Astra Roulette{% endblock %}
{% block head %}

<link href="static/css/bootstrap-table.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
<link href="static/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="static/css/prism.css" rel="stylesheet">

<style>
    .msg {
        overflow: auto;
        white-space: nowrap;
        max-width: 350px;
    }
    .log_id {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis; 
        max-width: 50px;
    }
    .msg_pre, code {
        max-width:70vw !important;
        white-space: pre-wrap !important;
    }
    .container {
        max-width: 1200px;
    }
</style>
{% endblock %}
{% block content %}
<h3>Astra Roulette</h3>

<div>



</div>

{% endblock %}