{% extends 'base.html' %}

{% block title %}Revolvers{% endblock %}
{% block head %}

<link href="static/css/bootstrap-table.min.css" rel="stylesheet">
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
<link href="static/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="static/css/prism.css" rel="stylesheet">

<style>
    .msg {
        overflow: auto;
        white-space: nowrap;
        max-width: 350px;
    }
    .log_id {
        white-space: nowrap; 
        overflow: hidden; 
        text-overflow: ellipsis;
    }
    .msg_pre, code {
        max-width:70vw !important;
        white-space: pre-wrap !important;
    }
    .container {
        max-width: 1200px;
    }
</style>
{% endblock %}
{% block content %}
<h3>Revolvers</h3>

<div>
    <table id="revolvers_table" class="table table-sm" style="width: 100%">
        <thead>
                <tr>
                    <th scope="col" class="log_id">Name</th>
                    <th scope="col">descr</th>
                    <th scope="col">Capacity</th>
                </tr>
            {% for tr in revolvers_list %}
                <tr>
                    <th class="log_id">{{tr._id}}</th>
                    <th>{{tr.descr}}</th>
                    <th>{{tr.drum_capacity}}</th>
                </tr>
            {% endfor %}
        </thead>
    </table>
</div>

{% endblock %}
{% block script %}
<script src="static/js/bootstrap-table.min.js"></script>
<script src="static/js/bootstrap-table-filter-control.min.js"></script>
<script src="static/js/bootstrap-datepicker.min.js"></script>
<script src="static/js/json5.min.js"></script>
<script src="static/js/prism.js"></script>
<script src="static/js/url_by_filter.js"></script>
{% endblock %}